<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="wKAU4hPKj1MJItgc_y8LcJJ9rOLgtWh9RbgSyWftLTM" />
    <meta name="description" content="Chào mừng đến với ăn sập làng đại học! Chúng tôi là cộng đồng đam mê ẩm thực, nơi mà bạn có thể khám phá những món ăn ngon độc đáo tại làng đại học Thủ Đức. Đây là nơi các bạn có thể chia sẻ những trải nghiệm của mình với các quán ăn trong làng cho mọi người cùng biết.">
    <title>Ăn sập làng đại học</title>
    {% block CSS %} {% endblock %}
    <link rel="icon" href="/static/Image_web_offical/LOGO_OFFICIAL.jpg">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="webapp">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

        {% block header %}{% endblock %}
        <!-- xong phan header -->
        
        {% include 'navleft_aside.html' %}
        <!--  bat dau code cho phan noi dung  -->
        {% block content %}{% endblock %}

        <!-- bat dau phan footer wrapper -->
        {% include 'footer.html' %}
    </div>
</body>

</html>

