<footer class="footer">
    <div class="ct_foot">
        <div class="row">
            <div class="collum_foot">
                <h4>Trang Chủ</h4>
                <ul>
                    <li><a href="https://github.com/Diephho/WEB_WORK">Về chúng tôi</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="collum_foot">
                <h4>Trợ Giúp</h4>
                <ul>
                    <li><a href="https://www.facebook.com/Ng.Khang3012/">Hỏi đáp</a></li>
                    <li><a href="https://www.facebook.com/Ng.Khang3012/">Hướng dẫn</a></li>
                </ul>
            </div>
            <div class="collum_foot">
                <h4>Liên hệ</h4>
                <div class="Online">
                    <a href="https://www.facebook.com/Ng.Khang3012/" aria-label="Visit Ng.Khang3012 on Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.facebook.com/khang22042004" aria-label="Visit Khang22042004 on Facebook"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/hdiepne__/" aria-label="Visit hdiepne__ on Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="Placeholder"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>