{% extends "base.html" %}
{% block CSS %}
<link rel="stylesheet" href="/static/styles_post.css">
{% endblock %}

{% block header %}
    {% if user.is_authenticated %}
        {% include 'header_login.html' %}
    {% else %}
        {% include 'header_index.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<!-- Bat dau phan noi dung-->
<div class="container">
    <div class="container-left">
        <div class="post-item">
            <div class="author">
                <div class="avatar-img"><a href="#"><img src="{{userpostinfo.avatar.url}}" alt="Avatar"></a></div>
                <div class="summary-post">
                    <div class="author-name"><a href="#"><p>{{userpostinfo.firstname}} {{ userpostinfo.lastname }}</p></a></div>
                    <div class="time-post"> {{ post.date }}</div>
                    <div class="rating-content" id="rating-content">
                        {% if post.numcreact == 0 %}
                            Chưa có đánh giá
                        {% else %}
                            <i class="fa-solid fa-ranking-star" style="color: #FFD43B;"></i>
                            <span><b id="starpost">{{ post.star }}</b></span>
                            <span><b>/5.0</b></span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="img-dishes">
                {% if request.user_agent.is_mobile %}
                <img src="{{ post.imagePhone.url }}" alt="{{ post.title }}">
                {% else %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
            <br>
            <button class="show_map"onclick="toggleMapField()">Ẩn/Hiện Bản Đồ</button>
            <br>
            <div id="googlemapField" style="display:block;">
                <div id="mapPost"></div>
                <script async
                    src="https://maps.googleapis.com/maps/api/js?key={{key}}&loading=async&callback=initMap">
                </script>
            </div>
            <script>
                function toggleMapField() {
                    var mapField = document.getElementById('mapPost');
                    if (mapField.style.display === "none") {
                        mapField.style.display = "block"; // Hiển thị khối nếu đang ẩn
                    } else {
                        mapField.style.display = "none"; // Ẩn khối nếu đang hiển thị
                    }
                }
            </script>
            <div class="post-content">
                <div class="title-content">
                    <p>{{ post.title }}</p>
                </div>
                <div class="tag">
                    {% for tag in post.tags.all %}
                        <span class="tag-item">#{{ tag.name }}</span>
                    {% endfor %}
                </div>
                <div class="content">
                    {{ post.content }}
                </div>            
                <br>
                <br><div class="line"></div>
                <div class="active">
                    <div class="likeandcomment">
                        <span class="like">
                            {% if request.user.is_authenticated %}
                                <i class="fa-solid fa-star"  onclick="reactclick1()" mouseenter="highlightStars(1)" mouseleave="resetStars()"></i>
                                <i class="fa-solid fa-star"  onclick="reactclick2()" mouseenter="highlightStars(2)" mouseleave="resetStars()"></i>
                                <i class="fa-solid fa-star"  onclick="reactclick3()" mouseenter="highlightStars(3)" mouseleave="resetStars()"></i>
                                <i class="fa-solid fa-star"  onclick="reactclick4()" mouseenter="highlightStars(4)" mouseleave="resetStars()"></i>
                                <i class="fa-solid fa-star"  onclick="reactclick5()" mouseenter="highlightStars(5)" mouseleave="resetStars()"></i>
                            {% else %}
                                <p>Vui lòng đăng nhập để đánh giá <a href="{% url 'index' %}" style="text-decoration: none;">Trang chủ</a></p>
                            {% endif %}
                        </span>
                        
                        <b class="slcomment">
                            <p id="slbl">
                                0 Bình luận
                            </p> 
                        </b>
                    </div>
                    <br>
                    <div class="line"></div>
                    {% if request.user.is_authenticated %}
                        <form class="user-comment" id="comment-form" method="POST">
                            {% csrf_token %}
                            <div class="avatar-img"><a href="{% url 'Profile' user_id=userinfo.id %}"><img src="{{userinfo.avatar.url}}" alt="Avatar"></a></div>
                            <input type="hidden" name="form_type" value="formcomment">
                            <textarea class="write" name="content-comment" placeholder="Viết bình luận" ></textarea>
                            <button type="submit" name="send-comment" class="send-comment"><i class="fa-solid fa-paper-plane" style="color: #74C0FC;"></i></button>
                        </form>    
                        <div class="list-comment" id="comments-container">
                            {% for comment in listcomment %}
                                {% if comment.idcommentReply is not None %}
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function() {
                                            let parentid="group-comment-{{comment.idcommentReply.id}}";
                                            let parentdiv=document.getElementById(parentid);
                                            let newdiv=document.createElement("div");
                                            newdiv.id = "group-comment-{{comment.id}}";
                                            {% if comment.idcommentReply.idcommentReply is None %}
                                                newdiv.style.marginLeft="2rem";
                                            {% endif %}
                                            newdiv.innerHTML=`
                                                <div class="comment">
                                                    <div class="avatar-img">
                                                        <a href="#">
                                                            <img src="{{comment.idUsercomment.avatar.url}}" alt="Avatar">
                                                        </a>
                                                    </div>
                                                    <div class="summary-comment">
                                                        <div class="comment-name">    
                        
                                                            <a href="#">
                                                                {{comment.idUsercomment.firstname}}
                                                                {{comment.idUsercomment.lastname}}
                                                            </a>
                                                            <p>{{comment.date}}</p>
                                                        </div>
                                                        <div class="content-comment">{{comment.content}}</div>
                                                        <div class="reply-comment" id="reply-comment-{{comment.id}}">Trả lời</div>
                                                    </div>
                                                </div>
                                                `;
                                                parentdiv.appendChild(newdiv);
                                                initializeReplyButtons();
                                        });
                                    </script>
                                {% else %}
                                    <div id="group-comment-{{comment.id}}">
                                        <div class="comment">
                                            <div class="avatar-img">
                                                <a href="{% url 'Profile' user_id=comment.idUsercomment.id %}">
                                                    <img src="{{comment.idUsercomment.avatar.url}}" alt="Avatar">
                                                </a>
                                            </div>
                                            <div class="summary-comment">
                                                <div class="comment-name">
                                                <a href="{% url 'Profile' user_id=comment.idUsercomment.id %}">
                                                    {{comment.idUsercomment.firstname}}
                                                    {{comment.idUsercomment.lastname}}
                                                </a>
                                                <p>{{comment.date}}</p>
                                            </div>
                                            <div class="content-comment">{{comment.content}}</div>
                                            <div class="reply-comment" id="reply-comment-{{comment.id}}">Trả lời</div>
                                            
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Vui lòng đăng nhập để xem bình luận <a href="{% url 'index' %}" style="text-decoration: none;">Trang chủ</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <script>
            let checkcomment = [];
            let countcomment=0;
            let star=0;
            function sendstar(){
                reactsent={
                    'star': star,
                    'form_type': 'react',
                };
                fetch('', { 
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": "{{csrf_token}}",
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(reactsent)
                })
                .then(response=>response.json())
                .then(data=>{
                    star=data.star;
                    star = data.star % 1 === 0 ? data.star.toFixed(1) : data.star;
                    starprint=document.getElementById("rating-content");
                    starprint.innerHTML=`
                    <i class="fa-solid fa-ranking-star" style="color: #FFD43B;"></i>
                        <span><b id="starpost">${star}</b></span>
                        <span><b>/5.0</b></span>
                    `;        
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            function reactclick1(){
                star=1;
                highlightStars(star);
                sendstar();
            }
            function reactclick2(){
                star=2;
                highlightStars(star);
                sendstar();
            }
            function reactclick3(){
                star=3;
                highlightStars(star);
                sendstar();
            }
            function reactclick4(){
                star=4;
                highlightStars(star);
                sendstar();
            }
            function reactclick5(){
                star=5;
                highlightStars(star);
                sendstar();
            }
            function commentform(){
                const commentForm = document.getElementById('comment-form');
                commentForm.addEventListener('submit', async (event) => {
                    event.preventDefault(); 
                    
                    const commentData = {
                        content: document.querySelector('textarea[name="content-comment"]').value,
                        form_type: document.querySelector('input[name="form_type"]').value,
                    };
                    try {
                        const response = await fetch('', { 
                            method: 'POST',
                            headers: {
                                "X-CSRFToken": "{{csrf_token}}",
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(commentData)
                        });
                        if (!response.ok) { 
                            throw new Error(`Error submitting comment: ${response.statusText}`);
                        }
                        const newCommentData = await response.json(); 
                        const newComment = document.createElement('div');
                        newcommentidstr=`${newCommentData.comment.id}`;
                        newComment.id=`group-comment-${newCommentData.comment.id}`;
                        newComment.innerHTML = 
                        `<div class="comment">
                            <div class="avatar-img">
                                <a href="#">
                                    <img src="{{userinfo.avatar.url}}" alt="Avatar">
                                </a>
                            </div>
                            <div class="summary-comment">
                                <div class="comment-name">
                                    <a href="#">
                                        {{userinfo.firstname}} {{userinfo.lastname}}
                                    </a>
                                    <p>${newCommentData.comment.date}</p>
                                </div>
                                <div class="content-comment">${commentData.content}</div>
                                <div class="reply-comment" id="reply-comment-${newcommentidstr}">Trả lời</div>
                            </div>
                        </div>`;
                        const commentContainer = document.getElementById('comments-container'); 
                        commentContainer.appendChild(newComment);
                        commentForm.reset(); 
                        var cmid=`${newCommentData.comment.id}`;
                        checkcomment.push(cmid);
                        console.log(checkcomment);
                        initializeReplyButtons();
                        countcommentfunc();
                    } catch (error) {
                        console.error('Error submitting comment:', error);
                        alert('An error occurred. Please try again later.');
                    }
                });
            }
            function initializeReplyButtons() {
                let replyButtons = document.querySelectorAll(".reply-comment");
                replyButtons.forEach(function(replyButton) {
                    replyButton.addEventListener("click", function() {
                        let existingForms = document.querySelectorAll(".user-comment-reply");
                        existingForms.forEach(function(form) {
                            form.remove();
                        });
                        let id = this.id;
                        let commentId = id.split("-")[2];
                        let parentid=`group-comment-${commentId}`;
                        let newdiv=document.createElement('div');
                        let commentidint=parseInt(commentId);
                        const groupcomment = document.getElementById(parentid);

                        let check=false;
                        for (const element of checkcomment) {
                            if(commentidint==element){
                                check=true;
                            }
                        }
                        if(check==true){
                            newdiv.style.marginLeft='2rem';
                        }
                        newdiv.innerHTML=`
                        <form class="user-comment-reply" id="reply-comment-form" method="POST">
                            {% csrf_token %}
                            <div class="avatar-img"><a href="#"><img src="{{userinfo.avatar.url}}" alt="Avatar"></a></div>
                            <input type="hidden" name="form_type_reply" value="formcommentreply">
                            <input type="number" class="idcommentrep" name="idcommentrep" value=${commentidint} style="display:none;"/>
                            <textarea class="write" name="content-comment-reply" placeholder="Viết bình luận" ></textarea>
                            <button type="submit" name="send-comment-reply" class="send-comment"><i class="fa-solid fa-paper-plane" style="color: #74C0FC; font-size:22px;"></i></button>
                        </form>
                        `;
                        groupcomment.appendChild(newdiv);
                        ReplyCommentForm();
                    });
                });
            }
            function ReplyCommentForm(){
                const commentFormReply = document.getElementById('reply-comment-form');
                commentFormReply.addEventListener('submit', async (event) => {
                    event.preventDefault(); 
                    const commentData = {
                        content: document.querySelector('textarea[name="content-comment-reply"]').value,
                        form_type: document.querySelector('input[name="form_type_reply"]').value,
                        idcommentrep: document.querySelector('input[name="idcommentrep"]').value,
                    };
                    try {
                        const response = await fetch('', { 
                            method: 'POST',
                            headers: {
                                "X-CSRFToken": "{{csrf_token}}",
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(commentData)
                        });
                        if (!response.ok) { 
                            throw new Error(`Error submitting comment: ${response.statusText}`);
                        }
                        let idcommentrepstr=`${commentData.idcommentrep}`;
                        const newCommentData = await response.json(); 
                        const newComment = document.createElement('div');
                        newcommentidstr=`${newCommentData.comment.id}`;
                        newComment.id=`group-comment-${newcommentidstr}`;
                        let parent=document.getElementById(`group-comment-${idcommentrepstr}`)
                        let check=false;
                        newComment.id=`group-comment-${newcommentidstr}`;
                        for (const element of checkcomment) {
                            if(idcommentrepstr==element){
                                check=true;
                            }
                        }
                        if(check==true){
                            newComment.style.marginLeft='2rem';
                        }
                        newComment.innerHTML = 
                        `<div class="comment">
                            <div class="avatar-img">
                                <a href="#">
                                    <img src="{{userinfo.avatar.url}}" alt="Avatar">
                                </a>
                            </div>
                            <div class="summary-comment">
                                <div class="comment-name">
                                    <a href="#">
                                        {{userinfo.firstname}} {{userinfo.lastname}}
                                    </a>
                                    <p>${newCommentData.comment.date}</p>
                                </div>
                                <div class="content-comment">${commentData.content}</div>
                                <div class="reply-comment" id="reply-comment-${newcommentidstr}">Trả lời</div>
                            </div>
                        </div>`;
                        
                        let commentContainer = document.getElementById(`group-comment-${idcommentrepstr}`); 
                        commentContainer.appendChild(newComment);
                        commentFormReply.reset(); 
                        let existingForms = document.querySelectorAll(".user-comment-reply");
                        existingForms.forEach(function(form) {
                            form.remove();
                        });
                        countcommentfunc();
                        initializeReplyButtons();
                    } catch (error) {
                        console.error('Error submitting comment:', error);
                        alert('An error occurred. Please try again later.');
                    }
                });
            }
            document.addEventListener('DOMContentLoaded', function() {
                initializeReplyButtons();
                commentform();
                {% for comment in listcomment %}
                    {% if comment.idcommentReply is None %}
                        var id="{{comment.id}}";
                        checkcomment.push(id);
                    {% endif %}
                {% endfor %}
                console.log(checkcomment);
                countcomment={{listcomment.count}};
                var slc=document.getElementById('slbl');
                slc.innerHTML = `${countcomment} Bình luận`;
                {% if request.user.is_authenticated %}
                    star={{userstar}};
                    highlightStars(star);
                {% endif %}
            });

            function countcommentfunc(){
                countcomment++;
                var slc=document.getElementById('slbl');
                slc.innerHTML = `${countcomment} Bình luận`;
            }
            function highlightStars(starhover) {
                resetStars();
                for (let i = 0; i < starhover; i++) {
                    document.getElementsByClassName('fa-star')[i+1].classList.add('highlighted');
                }
            }
            function resetStars() {
                for (let star of document.getElementsByClassName('fa-star')) {
                    star.classList.remove('highlighted');
                }
            }
            var mapPost;
            function initMapForPost() {
                // Initialize Google Map
                mapPost = new google.maps.Map(document.getElementById('mapPost'), {
                    center: {lat: {{ post.lat }}, lng: {{ post.lng }}},
                    zoom: 16
                });
                
                markerPost = new google.maps.Marker({
                    position: {lat: {{ post.lat }}, lng: {{ post.lng }}},
                    map: mapPost,
                    title: "{{ post.title }}",
                });
            }
            initMapForPost();
        </script>
    </div>
</div>
{% comment %} <!-- Xong phan noi dung--> {% endcomment %}
{% endblock %}


