{% extends 'base.html' %}
{% block  CSS %}
    <link rel="stylesheet" href="/static/passwordchange_styles.css"/>
{% endblock %}

{% block header %}
    {% include 'header_login.html' %}
{% endblock %}
<!-- Bắt đầu phần forgetpass -->
{% block content %}
    <div class="changepass">
        <form class="Form-change" method="POST">
            {% csrf_token %}
            {{formchangepass}}
            <p class="pass_validate" id="pass_validate_first"><span style="color: red;">*</span> Your password can’t be too similar to your other personal information.</p>
            <p class="pass_validate"><span style="color: red;">*</span> Your password must contain at least 8 characters.</p>
            <p class="pass_validate"><span style="color: red;">*</span> Your password can't be a commonly used password.</p>
            <p class="pass_validate"><span style="color: red;">*</span> Your password can’t be entirely numeric.</p>
            {% if errors is not None %}
                <p class="error"> {{errors}}</p>
            {% endif %}
            <button type="submit" name="changepass-btn" class="changepass-btn"> Change Pass
        </form>
    </div>
{% endblock %}
<!--ket thuc phan forgetpass-->
                