{% extends "base.html" %}

{% block CSS %}
<link rel="stylesheet" href="/static/styles_search.css">
{% endblock %}

{% block header %}
    {% if user.is_authenticated %}
        {% include 'header_login.html' %}
    {% else %}
        {% include 'header_index.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<!--  bat dau code cho phan noi dung  -->
<div class="result_text"> Bảng xếp hạng  <i class="fa-solid fa-ranking-star" style="color: #FFD43B;"></i> </div>
    <section class="container">
            {% for post in top_posts %}
            {% with forloop.counter as top_count %}
            <a href="{% url 'post' post_id=post.id %}">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                <h3>{{ post.title }} - Top {{ top_count }}</h3>
                <p>{{ post.address }} - {{ post.star }} / 5.0 <i class="fa-solid fa-star" style="color: #FFD43B;"></i></p>
            </a>
            {% endwith %}
            {% endfor %}
    </section>
{% endblock %}